@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Black";
  src: url("../fonts/subset-AlwynNewRounded-Bold.woff2") format("woff2"), url("../fonts/subset-AlwynNewRounded-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*
Fichier de customisation du CSS
*/
.cta-container {
  width: 100%;
}
.double-cta {
  display: flex;
  justify-content: space-around;
}
.double-cta .cta_btn_lead:nth-child(1) {
  left: 33%;
}
.double-cta .cta_btn_lead:nth-child(2) {
  left: 66%;
}
.deux-cta-sous-bloc .cta-sous-bloc-container {
  display: flex;
  width: 100%;
}
.deux-cta-sous-bloc .cta-sous-bloc-container .cta_sous_colonnes_flex {
  display: flex;
  justify-content: center;
  width: 50%;
}
.element-liste-naviso {
  display: flex;
}
.element-liste-naviso .picto-liste-naviso {
  width: 1rem;
  height: 1rem;
}
.fond-header {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
}
#entry_title_image_home img {
  object-fit: contain;
  height: auto;
}
.cta_primaire a {
  background-color: #4AB8A5;
  color: white;
}
.cta_primaire a:hover {
  background-color: white;
  color: #4AB8A5;
}
.cta_secondaire a {
  background-color: #1F2D46;
  color: white;
}
.cta_secondaire a:hover {
  background-color: white;
  color: #1F2D46;
}
.cta_ternaire a {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.cta_ternaire a:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.fond_clair p, .fond_clair ul, .fond_clair li, .fond_clair a, .fond_clair span {
  color: white;
}
.fond_clair p strong, .fond_clair ul strong, .fond_clair li strong, .fond_clair a strong, .fond_clair span strong {
  color: #1F2D46;
}
.fond_clair .entry-content p, .fond_clair .entry-content ul, .fond_clair .entry-content li, .fond_clair .entry-content a, .fond_clair .entry-content span {
  color: white;
}
.fond_clair .entry-content p strong, .fond_clair .entry-content ul strong, .fond_clair .entry-content li strong, .fond_clair .entry-content a strong, .fond_clair .entry-content span strong {
  color: #1F2D46;
}
.fond_clair2 p, .fond_clair2 ul, .fond_clair2 li, .fond_clair2 a, .fond_clair2 span {
  color: white !important;
}
.fond_clair2 p strong, .fond_clair2 ul strong, .fond_clair2 li strong, .fond_clair2 a strong, .fond_clair2 span strong {
  color: #4AB8A5;
  font-weight: normal !important;
}
.fond_clair2 .entry-content p, .fond_clair2 .entry-content ul, .fond_clair2 .entry-content li, .fond_clair2 .entry-content a, .fond_clair2 .entry-content span {
  color: white !important;
}
.fond_clair2 .entry-content p strong, .fond_clair2 .entry-content ul strong, .fond_clair2 .entry-content li strong, .fond_clair2 .entry-content a strong, .fond_clair2 .entry-content span strong {
  color: #4AB8A5;
  font-weight: normal !important;
}
.fond_blanc h1, .fond_blanc h2, .fond_blanc h3, .fond_blanc h4, .fond_blanc h5, .fond_blanc h6 {
  color: #4AB8A5;
}
.col-droite {
  position: relative;
}
.col-droite #element-visuel-deux-col {
  position: absolute;
  bottom: 0;
  right: -40%;
}
.extraits-clients-container {
  display: flex;
  flex-wrap: wrap;
}
.extraits-clients-container .extrait-client {
  width: 25%;
}
.block-contacter-expert .col-gauche .col_flexible_item_picto {
  width: 1.5rem;
}
.block-contacter-expert .col-gauche .col_flexible_item_wrapper {
  display: flex;
}
@media (max-width: 1024px) {
  .block-contacter-expert .col-gauche {
    margin-bottom: 1rem;
  }
}
.header-home {
  position: relative;
}
.header-home .fond-header {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-home .filtre-image-header {
  width: 100%;
  height: 100%;
  background-color: #132b4478;
  z-index: 2;
  position: absolute;
}
.header-home .text-header-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 3;
}
.header-home .text-header-wrapper .text-header-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-home .text-header-wrapper .text-header-container .text-header-homepage {
  width: 50%;
}
.header-home .text-header-wrapper .text-header-container .text-header-homepage #entry_title_home_accroche {
  font-size: 50px;
  color: white;
}
.header-home .text-header-wrapper .text-header-container .text-header-homepage #entry_title_home_description p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.header-home .text-header-wrapper .text-header-container .text-header-homepage .cta_btn_lead {
  text-align: left;
}
.header-home .text-header-wrapper .text-header-container .empty-50 {
  width: 50%;
}
.header-home figure {
  position: relative;
  margin: 0 !important;
}
.header-home figure .text-header-homepage {
  position: absolute;
  left: 0;
}
.extrait_metier {
  background-color: white;
  width: 31%;
  margin-right: 1rem;
  padding: 2rem;
  box-shadow: 0px 10px 50px 20px #6868683d;
  border-radius: 0px !important;
}
.extrait_metier h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.extrait_metier .desc {
  margin-bottom: 1rem;
  text-align: center;
}
.newsletter-container .newsletter-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4AB8A5;
  border-radius: 25px;
  padding: 3% 10%;
  overflow: hidden;
}
.newsletter-container .newsletter-wrapper h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.newsletter-container .newsletter-wrapper .text_block {
  color: white;
  font-size: 16px;
  margin-bottom: 1rem;
}
.newsletter-container .newsletter-wrapper .cta_btn_lead {
  text-align: left;
}
.newsletter-container .newsletter-wrapper #visuel-newsletter {
  position: absolute;
  width: 500px;
  height: 500px;
  top: -60%;
  right: -10%;
  overflow: hidden;
}
.newsletter-container .newsletter-wrapper #visuel-newsletter #Tracé_1009, .newsletter-container .newsletter-wrapper #visuel-newsletter #Tracé_1010 {
  fill: #ffffff7a;
}
@media (max-width: 1400px) {
  .fond-header {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .extrait_metier {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .extrait_metier {
    width: 100%;
  }
  .double-cta .cta_btn_lead:nth-child(1) {
    left: 20%;
  }
  .double-cta .cta_btn_lead:nth-child(2) {
    right: 0%;
  }
}
/*# sourceMappingURL=D:\wamp64\www\naviso/wp-content/themes/nanosite-proefficace-child/css/mainchild.css.map */
/*# sourceMappingURL=mainchild.css.map */