//On utilise les variables SCSS présentes dans le thème enfant
@import 'variables';

//@font-face  --> customisation des fonts du Nanosite
@import 'layout/font-face';

//Customisation
@import 'layout/fonts.scss';
@import 'layout/customisation';
@import 'layout/extrait-client';
@import 'layout/block-contacter-expert-logiciel';
@import 'layout/header';
@import 'layout/extrait-metier';
@import 'layout/newsletter';
@import 'layout/block-liste-deroulante';
@import 'layout/visuel-fond-de-blocs';
@import 'layout/block-formateur';
@import 'layout/formation.scss';
@import 'layout/webinars.scss';
@import 'layout/aside-actualites.scss';
@import 'layout/block-app.scss';
@import 'layout/footer.scss';
@import 'responsive';
