@media (max-width: 1400px) {
    .fond-header {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    #block-app  {
        .results {
            .cpt-extrait {
                width: 47%;
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    .extrait_metier {
        width: 47%;
    }
    .col_flexible_superposition {
        flex-direction: column;
        .col-gauche, .col-droite {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .extrait_metier {
        width: 100%;
    }
    .double-cta {
        .cta_btn_lead:nth-child(1) {
            left: 20%;
        }
        .cta_btn_lead:nth-child(2) {
            right: 0%;
        }
    }

    
    #block-app  {
        .results {
            .cpt-extrait {
                width: 100%;
                margin-right: 0rem;
            }
        }
    }
}