@media (max-width: 1400px) {
    .fond-header {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .cpt-extrait {
        width: 47% !important;
        margin-right: 1rem;
    }
}

@media (max-width: 1024px) {
    .col_right_wide_imgleft_wrapper_custom {
        padding-left: 3rem;
    }
    .flex-dir-row-reverse {
        flex-direction: column-reverse !important;
    }
    #charger_les_images_wrapper {
        position: relative !important;
        justify-content: center !important;
    }

    .hauteur-fixe-visuel {

        /*         display: inherit;
        align-items: inherit; */
        figure {
            /*             height: inherit;
 */
            position: absolute;
        }
    }


    /*     .hauteur-fixe-visuel-large {
        display: inherit;
        align-items: inherit;
        figure {
            height: inherit;
            position: inherit;
        }
    }  */
    .extrait_metier {
        width: 48%;
    }

    .col_flexible_superposition {
        flex-direction: column;

        .col-gauche,
        .col-droite {
            width: 100% !important;
        }

        .col-gauche {
            margin-bottom: 1rem;
        }
    }

    #aside_actualites_header {
        position: relative;
    }

    $widthExtrait: 48.5%;

    .extraits-clients-container {
        .extrait-client {
            width: $widthExtrait;
        }

        &.clients-2 {
            .extrait-client {
                width: $widthExtrait;

                &:nth-child(2) {
                    margin-right: 0 !important;
                }
            }
        }

        &.clients-3 {
            .extrait-client {
                width: $widthExtrait;

                &:nth-child(2) {
                    margin-right: 0 !important;
                }
            }
        }

        &.clients-4 {
            .extrait-client {
                width: $widthExtrait;

                &:nth-child(2) {
                    margin-right: 0 !important;
                }

                &:nth-child(4) {
                    margin-right: 0 !important;
                }

                .cta-container-cas-client {
                    flex-direction: row;
                }
            }
        }

        &.clients-5 {
            .extrait-client {
                width: 31%;
            }
        }
    }

}

@media (max-width: 968px) {
    .menu-menu-footer-2-container{
        height: auto;
    }
    #aside_prefooter_wrapper {
flex-direction: column;        
    }

    .aside_prefooter_col  {
        width: 100%;
    }

    figure#logo_footer img {
        width: 50%;
    }
}

@media (max-width: 768px) {

    h2 {
        font-size: 25px;
    }

    .entry_content {
        h2 {
            font-size: 25px;
        }
    }

    h3 {
        font-size: 20px;
    }

    .entry_content {
        h3 {
            font-size: 20px;
        }
    }

    .newsletter-container-feed {
        .newsletter-wrapper-feed {
            width: 100%;
            height: 100%;
            background-color: white;

            #close-button {
                position: absolute;
                top: 1%;
                right: 1%;

            }
        }
    }

    .newsletter-container {
        .newsletter-wrapper {
            h2 {
                text-align: center;
            }

            .content-newsletter-block {
                flex-direction: column;
                text-align: center;
            }
        }
    }

    h2 {
        font-size: 30px !important;
        line-height: normal !important;
    }

    .hauteur-fixe-visuel-large {
        figure {
            height: 100%;
        }
    }

    .hauteur-fixe-visuel {
        figure {
            height: 100%;
        }
    }

    .extrait_metier {
        width: 100%;
    }

    .double-cta {
        .cta_btn_lead:nth-child(1) {
            left: 20%;
        }

        .cta_btn_lead:nth-child(2) {
            right: 0%;
        }
    }

    .cpt-extrait {
        width: 100% !important;
        margin-right: 0rem !important;
    }
    .header-home {
        height: 100vh;

        .fond-header {
            width: 175%;
            right: -90%;
            z-index: 2;
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    #entry_title_home_accroche {
        text-align: left;
    }

    #entry_title_home_description {
        p {
            text-align: left;
        }
    }

    .extraits-clients-container {
        .extrait-client {
            width: 100%;
            margin-right: 0rem;
        }

        &.clients-2 {
            .extrait-client {
                width: 100%;
                margin-right: 0rem;
            }
        }

        &.clients-3 {
            .extrait-client {
                width: 100%;
                margin-right: 0rem;
            }
        }

        &.clients-4 {
            .extrait-client {
                width: 100%;
                margin-right: 0rem;

                .cta-container-cas-client {
                    flex-direction: row;
                }
            }
        }

        &.clients-5 {
            .extrait-client {
                width: 100%;
                margin-right: 0rem;
            }
        }
    }

    .vague-webinar {
        width: 230%;
    }
}

@media (max-width: 480px) {
    .col_flexible_wrapper {
        width: 90%;
        margin: auto;
    }
    .footer_certification {
        img {
            width: 100%;
        }
    }
    #header_contact {
        display: none !important;
    }

    .content_width:has(.col_flexible_image) {
        width: 100% !important;
    }

    .col_flexible_image {
        height: 300px;

        img {
            height: 380px;
            object-fit: cover;
            object-position: left;
        }
    }
}