//Attention, ce fichier sert à générer les CSS du thème parent (main.css) et du thème enfant (mainchild.css). Il ne faut pas les supprimer ni modifier leur nom. 
// Leur valeur peut être modifiée. Il est possible d'en créer de nouvelles.

//typos
$light : 'Arial';
$regular : 'Arial';
$bold : 'Arial';
$black : 'Gilroy-Black';

//couleurs
$dark: #333333;
$medium: #777777;
$orange: #666666;

$greenNaviso: #4AB8A5;
$bleuNaviso: #1F2D46;

$gris: #000; // < Couleur des textes de base = du noir ou presque

$clair: $greenNaviso !default; // < Couleur qui peut découler de la couleur primaire, ou être complètement différente
$clair2: $bleuNaviso !default; // < Couleur $clair mais en peu plus foncé

$primaire1: $greenNaviso !default;
$primaire: $greenNaviso !default;
$primaire2: $greenNaviso !default;

$secondaire1: $bleuNaviso !default;
$secondaire: $bleuNaviso !default;
$secondaire2: $bleuNaviso !default;

//alertes
$red: #ff0000;
$redlight: #ffbfbf;
$green: #6ae04a;

$marginsection: 3.5rem;
$paddingsection: 3.5rem;

//margin-top au dessus de .cta_btn_lead
$cta_btn_lead_top: 2.5rem;

$radiusimage: 0.5rem;

// header
$headerheight: 100px;
$headerheightscroll: 60px;
$transitionscroll: 0s height ease-in-out;

//opacity
$opacitybg: 0.3;