.logiciel, .metier, .formation, .client  {
    header {
        background-color: $bleuNaviso !important;
        display: flex;
        justify-content: center;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        h1 {
            color: white !important;
            font-size: 38px;
            svg {
                height: 38px;
            }
        }
    }
}

.type-post {
    header.entry_title {
        background-color: $greenNaviso;
    }
}
.single-post {
    .breadcrumb_container {
        background-color: $greenNaviso;
    }
}
.breadcrumb_top {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
header.entry_title{
    padding-top: 0rem !important;
    padding-bottom: 2.5rem !important;
    h1 {
        margin-bottom: 0.5rem !important;
    }
}
.breadcrumb_container {
    background-color: $bleuNaviso;
    nav,
    p,
    a,
    span {
        color: white;

        a {
            color: white !important;
        }
        .breadcrumb_separator {
            color: white !important;
        }
    }
}

.bandeau-header-page, .bandeau-header-post {
    background-color: $bleuNaviso;
    h1 {
        color: white !important;
    }
}

.article_blog .entry_title {
    background-color: $bleuNaviso;
    padding: 3.5rem 0;
 
    h1 {
        color: white !important;
    }
}