.logiciel {
    header {
        background-color: $bleuNaviso !important;
        display: flex;
        justify-content: center;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        h1 {
            color: white !important;
            font-size: 38px;
            svg {
                height: 38px;
            }
        }
    }
}


.breadcrumb_container {
    background-color: $bleuNaviso;
    nav,
    p,
    a,
    span {
        color: white;

        a {
            color: white !important;
        }
        .breadcrumb_separator {
            color: white !important;
        }
    }
}

.bandeau-header-page, .bandeau-header-post {
    background-color: $bleuNaviso;
    h1 {
        color: white !important;
    }
}