$paddingTopBottomBlock: 7rem;
$paddingTopBottomColDroite: 5rem;

.block-contacter-expert{
    position: relative;
    background-color: $greenNaviso;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-bottom: 3.5rem;
    padding-top: $paddingTopBottomBlock;
    .col-gauche {
        .col_flexible_item {
            margin-bottom: 2rem !important;
        }
        .col_flexible_item_picto {
            margin-right: 2rem;
            img {
                width: 2.5rem;
            }
        }
        .col_flexible_item_wrapper {
            display: flex;
   
            .col_flexible_item_texte{
                color: white;
            }
        }
   
    }

    .col-droite {
        border-radius: 25px;
        background-color: $bleuNaviso;
        position: absolute;
        right: 0;
        padding-top: $paddingTopBottomColDroite;
        padding-bottom: $paddingTopBottomColDroite;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: - $paddingTopBottomColDroite - $paddingTopBottomColDroite;
        h3 {
            text-align: center;
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        h3, p {
            color: white;
            text-align: center;
        }
        svg {
            margin-bottom: 1rem;
        }
    }
}

.vague-expert-logiciel {
    height: 100%;
    overflow: hidden;
    bottom: 0;
    svg {
        fill: #91E3D6 !important;
        position: absolute !important;
        bottom: 0;
    }
}

@media (max-width: 1024px) {
    .block-contacter-expert {
        padding-bottom: 0rem;
        .col-gauche {
            margin-bottom: 1rem;
            .col_flexible_item {
                width: 85% !important;
                margin: auto;
            }
        }
        .col-droite {
            position: relative;
            top: inherit;
            border-radius: inherit;
            padding-left: 0rem;
            padding-right: 0rem;
            .col_flexible_item {
                width: 85% !important;
            }
        }
        .content_width {
            width: 100%;
        }
    }

    .vague-expert-logiciel {
        width: 240% !important;
        z-index: 0;
        left: -35%;
        svg {
            top: 0;
        }
    }
}