#block-app {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .cta-center {
        width: 100%;
        justify-content: center;
    }

    .filters {
        flex-direction: column;
        display: flex;
        margin-bottom: 2rem;

        #loupe {
            margin-bottom: 5px;
            margin-top: 5px;
            height: 16px;
        }

        .text-filter-container {
            margin-bottom: 3rem;
            margin-top: 0rem !important;
            border: 2px solid black;
            border-radius: 25px;
            padding-left: 1rem;
            width: 60%;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            height: 38px;

            input {
                border: none;
                width: 90%;
                height: 100%;
                margin-left: 1%;
                padding: 0.4rem 1rem;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        .buttons {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0.5rem;

            .button {
                cursor: pointer;
                border-radius: 25px;
                padding: 0.4rem 1rem;
                margin-right: 1rem;
                border: 2px solid $bleuNaviso;
                background-color: white;
                color: $bleuNaviso;
                white-space: nowrap;
                margin-bottom: 0.5rem;
                font-weight: bold;

                &.active {
                    background-color: $bleuNaviso;
                    color: white;
                }

                &:nth-child(1) {
                    width: 230px;
                    text-align: center;
                }
            }

            &:nth-child(1) {
                .button {
                    border: 2px solid $greenNaviso;
                    background-color: white;
                    color: $greenNaviso;

                    &.active {
                        background-color: $greenNaviso;
                        color: white;
                    }
                }
            }
        }
    }

    .extraits-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .results {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .load-more {
            background-color: white !important;
            color: black !important;
            border: 2px solid black !important;
            padding: 0.7rem 1.6rem 0.8rem 1.6rem !important;
            font-size: 0.85rem;
            font-weight: bold;
            cursor: pointer;
            border-radius: 25px;

            &:hover {
                background-color: black !important;
                color: white !important;
                border: 2px solid black !important;
            }
        }
    }

    .buttons-cas-clients {
        display: flex;
        justify-content: space-around;
    }
}

.cpt-extrait {
    width: 31.6%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 50px 20px #68686829;
    padding: 2rem 2rem 1.4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .terms {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        .taxonomy {
            display: flex;
            flex-wrap: wrap;
        }

        .term {
            background-color: white;
            margin-right: 0.5rem;
            font-size: 14px;
            border-radius: 25px;
            padding: 0.2rem 1rem;
            white-space: nowrap;
            font-weight: bolder;
            margin-bottom: 0.5rem;
            text-align: center;
            color: $bleuNaviso;
            border: 2px solid $bleuNaviso;

            &.term-0 {
                color: $greenNaviso;
                border: 2px solid $greenNaviso;
            }

            // &.term-1 {
            //     color: $bleuNaviso;
            //     border: 2px solid $bleuNaviso;
            // }
        }
    }

    h2,
    h3 {
        text-align: center;
        color: black;
        font-size: 24px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .desc-page {
        text-align: center;
    }

    .buttons-extrait {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .cta_btn_lead {
            margin-bottom: 1rem;
        }
    }
}