/*
Fichier de customisation du CSS
*/
figure {
    border-radius: 0 !important;

    img {
        border-radius: 0 !important;
    }
}

#menu {
    background-color: white;
}

ul#menu-menu-principal li a {
    font-family: 'Montserrat-bold' !important;
}

.cta_btn_lead {
    font-weight: bold;
}

.search_icon_cls {
    stroke: $bleuNaviso;
}

#search_trigger {
    margin-right: 1rem;
}

.cta-container {
    width: 100%;
}

#burger span {
    background-color: black;
}

.double-cta {
    display: flex;
    justify-content: center;

    .cta_btn_lead:nth-child(1) {
        margin-right: 0.5rem;
    }

    .cta_btn_lead:nth-child(2) {
        margin-left: 0.5rem;
    }
}

.cta-sous-bloc-container {
    display: flex;
    width: 100%;

    &:has(.cta_sous_colonnes_flex.cta_align_center) {
        justify-content: center;
    }

    &:has(.cta_sous_colonnes_flex.cta_align_right) {
        justify-content: end;
    }

    &:has(.cta_sous_colonnes_flex.cta_align_left) {
        justify-content: start;
    }
}

.alignes-a-droite {
    justify-content: flex-end;

    .cta_sous_colonnes_flex {
        &:nth-child(2) {
            margin-left: 1rem;
        }
    }
}


.alignes-a-gauche {
    justify-content: flex-start;

    .cta_sous_colonnes_flex {
        &:nth-child(1) {
            margin-right: 1rem;
        }
    }
}

.centres-sous-le-bloc {
    justify-content: center;

    .cta_sous_colonnes_flex {
        &:nth-child(1) {
            margin-right: 0.5rem;
        }

        &:nth-child(2) {
            margin-left: 0.5rem;
        }
    }
}

.element-liste-naviso {
    display: flex;
    align-items: center;

    .picto-liste-naviso {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }
}

.fond-header {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}

#entry_title_image_home img {
    object-fit: contain;
    height: auto;
}

.cta_primaire {
    a {
        background-color: $greenNaviso !important;
        color: white !important;
        border: 2px solid $greenNaviso !important;
        font-weight: bold;

        &:hover {
            background-color: white !important;
            color: $greenNaviso !important;
            border: 2px solid $greenNaviso !important;

        }
    }

}

.cta_secondaire {
    a {
        background-color: black !important;
        color: white !important;
        border: 2px solid black !important;
        font-weight: bold;

        &:hover {
            background-color: white !important;
            color: black !important;
            border: 2px solid black !important;

        }
    }

}

.cta_ternaire {
    a {
        background-color: white !important;
        color: black !important;
        border: 2px solid black !important;
        font-weight: bold;

        &:hover {
            background-color: black !important;
            color: white !important;
            border: 2px solid black !important;
        }
    }
}


.submit-vers-page-contact.cta_primaire {
    background-color: $greenNaviso !important;
    color: white !important;
    border: 2px solid $greenNaviso !important;
    font-weight: bold;

    &:hover {
        background-color: white !important;
        color: $greenNaviso !important;
        border: 2px solid $greenNaviso !important;

    }
}

.submit-vers-page-contact.cta_secondaire {
    background-color: black !important;
    color: white !important;
    border: 2px solid black !important;
    font-weight: bold;

    &:hover {
        background-color: white !important;
        color: black !important;
        border: 2px solid black !important;

    }
}

.submit-vers-page-contact.cta_ternaire {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
    font-weight: bold;

    &:hover {
        background-color: black !important;
        color: white !important;
        border: 2px solid black !important;
    }
}


.cta_header {
    a {
        background-color: white !important;
        color: $greenNaviso !important;
        border: 2px solid $greenNaviso !important;
        font-weight: bold;

        &:hover {
            background-color: $greenNaviso !important;
            color: white !important;
            border: 2px solid $greenNaviso !important;
        }
    }
}

.cta-dans-repeteur {
    text-align: left;
    margin-top: 1rem !important;
}

.buttons-align-center {
    .cta-dans-repeteur {
        text-align: center;
    }
}

.buttons-align-left {
    .cta-dans-repeteur {
        text-align: left;
    }
}

.buttons-align-right {
    .cta-dans-repeteur {
        text-align: right;
    }
}

.fond_clair {

    p,
    ul,
    li,
    a,
    span {
        color: white;

        strong {
            color: $bleuNaviso;
        }
    }

    .entry-content {

        p,
        ul,
        li,
        a,
        span {
            color: white;

            strong {
                color: $bleuNaviso;
            }
        }
    }

    .vague-milieu {
        svg {
            fill: #add1cb !important;
        }
    }
}

.fond_clair2 {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li,
    a,
    span {
        color: white;

        strong {
            color: $greenNaviso;
        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        li,
        a,
        span {
            color: white;

            strong {
                color: $greenNaviso;
            }
        }
    }

    .vague-milieu {
        svg {
            fill: #add1cb !important;
        }
    }
}

.fond_blanc {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $greenNaviso;
    }
    .col_flexible_bordure {
            h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }
    }
}

.col-droite {
    position: relative;

    .element-visuel-deux-col {
        position: absolute;
        bottom: 0;
        right: -40%;
    }
}

.poids-image {
    background-color: white;

    .poids-image-data {
        color: black;
    }
}


.col_flexible_superposition {
    .cta_align_left {
        left: 0rem !important;
    }

    .cta_align_right {
        right: 0rem !important;
    }

    .cta_align_center {
        margin-left: 0rem !important;
    }

    .col_flexible_cta {
        padding-bottom: 0;
        .entry-content {
            padding-bottom: 4rem;
        }
    }
}

.col_flexible_wrapper {
    .col_flexible_cta {
        padding-bottom: 0;
        .entry-content {
            padding-bottom: 4rem;
        }
        .cta_btn_lead {
            position: relative;
            &.cta_align_center {
                left: inherit;
                transform: inherit;
            }
        }
    }
}

.col_flexible_image_wrapper {
    img {
        object-fit: cover;
    }
}

.col_flexible_image_wrapper img {
    border-radius: 0rem !important;
}

.form-vers-page-contact {
    display: flex;
    justify-content: center;
}



.aside_prefooter_col p.coordonnees_p_i svg {
    color: white !important;
}


#aside_actualites_header {
    position: relative;

    #charger_les_images_wrapper {
        position: absolute;
        right: 0;
    }

    #aside_actualites_title {
        margin: auto;
        font-size: 38px;
        color: $greenNaviso;
        width: auto;
    }

}

.margin_section_top {
    margin-top: $marginsection;
}

.margin_section_bottom {
    margin-bottom: $marginsection;
}

.hauteur_fixe {
    figure {
        background-color: transparent;

        img {
            height: 373px;
            width: inherit;
            margin: auto;
        }
    }
}

.hauteur-fixe-visuel {
    display: flex;
    align-items: center;

    figure {
        height: 373px;
        position: relative;
    }
}

.hauteur-fixe-visuel-large {
    display: flex;
    align-items: center;

    figure {
        height: 373px;
        position: relative;
    }
}

.col_left_wide_imgleft {
    background-color: transparent;
}

.col_right_wide_imgright {
    background-color: transparent;
}

.border-top-left-radius {
    img {
        border-top-left-radius: 25px !important;
    }
}

.border-top-right-radius {
    img {
        border-top-right-radius: 25px !important;
    }
}

.border-bottom-left-radius {
    img {
        border-bottom-left-radius: 25px !important;
    }
}

.border-bottom-right-radius {
    img {
        border-bottom-right-radius: 25px !important;
    }
}

.col_flexible_image_wrapper figure {
    background-color: transparent;
}

.col_flexible_item {
    &:has(.figure_col_flex_icone) {
        margin-top: 5.5rem;
    }

    .figure_col_flex_icone {
        top: -3.5rem;
    }
}

.col_flexible_icone {
    padding-top: 80px;
    margin-bottom: 2rem;
}

.col_flexible_icone_img {
    border: none;
}

.afficher_la_video_play {
    border: 2px solid white;

    path {
        fill: white;
    }
}

.form-vers-page-contact {
    justify-content: inherit;
}

input.cta_btn_lead.cta_align_right {
    margin-left: auto;
}

.flex-dir-inherit {
    flex-direction: inherit;
}

.flex-dir-row-reverse {
    flex-direction: row-reverse;
}

.block-2-colonnes,
.block-3-colonnes,
.block-2-colonnes-textevisuel,
.block-2-colonnes-textevisuel-large,
.block-2-colonnes-superposition {
    &:has(.hauteur-fixe-visuel-large) {
        min-height: 371px;
    }
    &:has(.hauteur-fixe-visuel) {
        min-height: 371px;
    }
    &:has(.hauteur_fixe) {
        min-height: 371px;
    }
    .double-cta {
        .cta_btn_lead:nth-child(1) {
            left: 1.5rem;
        }

        .cta_btn_lead:nth-child(2) {
            left: 33%;
        }
    }
}

.double-cta {
    .cta_btn_lead {
        transform: inherit !important;
    }
}

.col_right_wide_imgleft_wrapper_custom {
    padding-left: 8rem;
    padding-right: 2rem;
}