.extraits-clients-container {
    display: flex;
    flex-wrap: wrap;
    .extrait-client {
        width: 31%;
        margin-right: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0px 10px 50px 20px #68686829;
        padding: 2rem 1.5rem 1rem 1.5rem;
        .extrait-client__content {
            .cta-container-cas-client {
                display: flex;
                justify-content: space-around;
            }
            .extrait-client__title{
                text-align: center;
            }

            .problematique {
                text-align: center;
                font-weight: 600;
                margin-bottom: 1rem;
            }
         
        }
    }
}
