h2 {
    color: $greenNaviso;
    font-size: 38px;
}

.fond_clair, .fond_clair2 {
    h2, h3, h4, h5, h6 {
        color: white;
    }
}

.fond_clair2 {
    h2, h3, h4, h5, h6 {
        strong {
            color:$greenNaviso;
        }
    }  
}