p,
ul,
li,
a,
div,
.form-vers-page-contact, 
.submit-vers-page-contact {
    font-family: 'Montserrat' !important;
    strong {
        font-family: 'Montserrat-bold' !important;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem !important;
    font-family: 'Montserrat-bold' !important;
    strong {
        color: $bleuNaviso !important;
        font-family: 'Montserrat-bold' !important;
    }
}

.entry_content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1.5rem !important;
        font-family: 'Montserrat-bold' !important;
    
        strong {
            font-family: 'Montserrat-bolder' !important;
            color: $bleuNaviso !important;
        }
    }
}


h1 {
    font-weight: bolder;
    font-family: 'Montserrat-bold' !important;
}

h2 {
    font-size: 38px;
}

h2,
h3 {
    font-family: 'Montserrat-bolder' !important;
    font-weight: bold !important;

    strong {
        font-weight: bold !important;
        font-family: 'Montserrat-bolder' !important;
    }
}

.fond_clair {
    h2,
    h3,
    h4,
    h5,
    h6 {
        strong {

            color: $bleuNaviso !important;
        }
    }
}

.fond_clair2 {
    h2,
    h3,
    h4,
    h5,
    h6 {
        strong {
            color: $greenNaviso !important;
        }
    }
}

.fond_clair,
.fond_clair2 {
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }

    .col_flexible_bordure {
        p,
        ul,
        li,
        a {
            color: $bleuNaviso !important;
            strong {
                color: $greenNaviso;
                font-family: 'Montserrat';
            }
        }
        .cta_primaire a, .cta_secondaire a  {
            color: white !important;
        }
        .cta_ternaire a {
            color: $bleuNaviso !important;
        }
    }
}

.article_share_date {
    .date_jour,
    .date_mois,
    .date_annee {
        font-family: 'Montserrat' !important;
    }
}


.entry_title_date.legende {
    span {
        font-family: 'Montserrat';
    }
}