#aside_prefooter {
    background-color: $bleuNaviso;
}

#numeroTelephone {
    display: none;
    text-decoration: none;
}

#afficherNumeroTelephone {
    text-decoration: underline;
    cursor: pointer;
}

#footer {
    background-color: white;

    span,
    #menu-footer a {
        color: $bleuNaviso;
    }
}

#menu-footer a:after {
    content: inherit;
    margin: inherit;
    color: inherit;
}

#footer_wrapper {
    padding: 1.7rem 0 1.7rem 0;
}

.prefooter_col_1 {
    #logo_footer {
        margin: 0rem 0rem 1rem 0rem;
    }

    .titre-coordonnees {
        color: white !important;
        margin-bottom: 0rem !important;
    }
}

.prefooter_col_1,
.prefooter_col_3 {
    width: 23%;
}

.prefooter_col_2 {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cta_btn_lead {
        text-align: left;
        margin-bottom: 3rem;
    }

    li {
        a {
            color: white;
        }
    }
}

.prefooter_col_3 {
    .footer_certification {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 22%;
        img {
            height: 150px;
        } 
    }
}

#aside_prefooter_baseline {
    color: white;
    text-align: left;
    padding-top: 0 !important;
    margin-bottom: 2rem;
}


#footer_content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    span {
        text-decoration: underline;
        align-items: center;
        display: flex;
    }
    #menu-footer {
        display: flex;
        text-decoration: none;
        a {
            text-decoration: underline;
            margin-left: 1rem;
        }
    }
    .rs_link_wrapper {
        display: flex;
        .rs_link_item {
            background: $greenNaviso;
            width: 36px;
            height: 36px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0rem 0rem 0rem 1rem !important;
            display: flex;
            justify-content: center;
            align-items: center;
    
            svg {
                color: white;
                height: 1.6rem;
            }
    
            &:hover {
                background-color: white;
    
                svg {
                    color: $greenNaviso !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #footer_content {
        display: block;
        span{
            align-items: inherit;
            display: inherit;
        }
    }
    #footer_content #menu-footer{
        display: block;
        padding-top:1rem;
        a {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
    #footer_content .rs_link_wrapper {
        justify-content: center;
        padding-top:1rem;
        width:100%;
        .rs_link_item {
            margin: 0rem 0.5rem 0rem 0.5rem !important;
        }
    }
}



.menu-menu-footer-2-container {
    display: flex;
    height: 100px;

    #menu-menu-footer-2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        flex-direction: column;
    }
}

#footer_certification_wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* #aside_prefooter_wrapper {
    position: relative; 
    .logo-bzh-footer {
        position: absolute;
        right: 0;
        top: 3rem;
    }
} */

.logo-bzh-footer {
    width: 180px;
    position: absolute;
    right: 0;
}

.phone_number {
    text-decoration: underline;
}



body #tarteaucitronRoot div#tarteaucitronAlertBig{
    max-width:700px;
}

body #tarteaucitronRoot div#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert{
    font-size:1rem!important;
    font-family: "Montserrat" !important;
    background-color:transparent!important;
    text-align:center!important;
}
body #tarteaucitronRoot div#tarteaucitronAlertBig #tarteaucitronCloseAlert{
    background-color:transparent!important;
    border:1px solid $primaireAlpha!important;
}
body #tarteaucitronRoot div#tarteaucitronAlertBig #tarteaucitronCloseAlert,
body #tarteaucitronRoot div#tarteaucitronAlertBig #tarteaucitronPersonalize2{
    padding:0.7rem 1.6rem 0.8rem 1.6rem !important;
    font-size:0.85rem!important;
    line-height:1!important;
    font-weight:bold;
    font-family: "Montserrat" !important;
}

body #tarteaucitronRoot div#tarteaucitronAlertBig #tarteaucitronAllDenied2{
    display: block;
    margin: auto !important;
    margin-top: auto;
    text-align: center;
    background-color: transparent !important;
    color: $secondaire !important;
    font-size: 0.85rem !important;
    padding: 0 !important;
    padding-bottom: 0px;
    margin-top: 1rem !important;
    border-bottom: 1px solid $primaireAlpha;
    border-radius: 0 !important;
    padding-bottom: 0.2rem !important;
}