.multicolonnes_item.avec_bordure {
    h1, h2, h3, h4, h5, h6, p, ul, li, a {
        color: white;
        strong {
            color: $bleuNaviso;
        }
    }   
}

.fond_clair {
    .multicolonnes_item.avec_bordure {
        h1, h2, h3, h4, h5, h6, p, ul, li, a {
            color: $bleuNaviso;
            strong {
                color: $greenNaviso;
            }
        }   
    }
}

.fond_clair2 {
    .multicolonnes_item.avec_bordure {
        h1, h2, h3, h4, h5, h6, p, ul, li, a {
            color: $bleuNaviso;
            strong {
                color: $greenNaviso;
            }
        }   
    }
}
.fond_clair, .fond_clair2 {
    .multicolonnes_item {
        box-shadow: none;

    }

}

.fond_blanc, .fond_clair {
    .multicolonnes_item {
        box-shadow: 0px 10px 50px 20px #68686829;
    }
}

.multicolonnes_item {
    position: relative;
    padding: 2rem 2rem 4rem 2rem;
    margin-bottom: 3rem;
    .visuel-naviso-multicol {
        position: absolute;
        bottom: -10%;
        right: -15%;
    }

    h3 {
        color: $greenNaviso;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.sans_bordure_content {
    padding: 0 !important;
}