.newsletter-container {
  .newsletter-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: $greenNaviso;
    border-radius: 25px;
    padding: 3% 10%;
    overflow: hidden;
    .content-newsletter-block {
      display: flex;
      align-items: center;
    }
    
    h2 {
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .text_block {
      color: white;
      font-size: 16px;
      margin-bottom: 1rem;
    }

    .cta_btn_lead {
      text-align: left;
    }

    .visuel-newsletter {
      position: absolute;
      width: 500px;
      height: 500px;
      top: -60%;
      right: -10%;
      overflow: hidden;
      z-index: -1;
      #Tracé_1009,
      #Tracé_1010 {
        fill: #ffffff7a;
      }
    }
  }
}


.newsletter-container-feed {
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .newsletter-wrapper-feed {
    width: 90%;
    height: 90%;
    background-color: white;
  }
}